@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
$font:"Press Start 2P", system-ui;

$albastru: #0449AA;
$albastru_deshis:#9DD6FF;
$albastru_inchis: #1C1D31;
$galben: #FFF158;
$negru: #0C0B13;
$alb: #FFFFFF;


